<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Kreative Portal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="#fafafa">

        <link rel="apple-touch-icon" href="icon.png">
        <link rel="stylesheet" href="stylesheets/normalize.css">
        <link rel="stylesheet" href="stylesheets/main.css">
        <link rel="stylesheet" href="fonts/RadioGrotesk-Regular/font.css">
        <link rel="stylesheet" href="fonts/BifocalsGrotesk-Regular/font.css">

        <script src="https://kit.fontawesome.com/abadd7b058.js" crossorigin="anonymous"></script>
        <script src="scripts/jquery-3.5.0.min.js"></script>
        <script src="scripts/utilities.js"></script>
        <script src="scripts/zxcvbn.js"></script>
        <script src="scripts/validator.js"></script>
    </head>
    <body>
        <div class="outer">
            <div class="action-box">
                <svg id="kreativelogo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 162 63" >
                    <g clip-path="url(#clip0)">
                        <path d="M15 47.5L24.7 36.6V36.2H16.5L8.9 44.9V26.2H2.3V60.1H8.9V50.3L16.7 60.1H25.2V59.7L15 47.5ZM26.1 60.1H32.7V48.3C32.7 44.5 34.8 42.2 38.2 42.2H40.5V35.8H38.8C35.7 35.8 33.7 37.5 32.7 39.7H32.5L32 36.2H26.1V60.1ZM52.7 60.5C59.3 60.5 63.1 56.7 63.7 52.4H56.9C56.5 53.5 55.4 54.8 52.7 54.8 49.5 54.8 48.1 52.9 48.1 50.1H64V47.4C64 40.9 59.9 35.8 52.6 35.8 44.8 35.8 40.9 41.4 40.9 48.2 40.9 55.1 45.2 60.5 52.7 60.5ZM48.1 45.6C48.3 43.3 49.6 41.5 52.6 41.5 55.4 41.5 56.7 43.3 56.9 45.6H48.1ZM72.9 60.5C75.8 60.5 77.9 59.5 79.3 58H79.4L80 60.1H86.3V44.4C86.3 39.4 82.3 35.8 75.8 35.8 68.7 35.8 65.5 39.6 65.5 44.1H72.1C72.1 42.6 73.4 41.4 75.6 41.4 78.2 41.4 79.2 42.7 79.2 44.4V46.3C78.3 46 75.9 45.7 74.1 45.7 67.5 45.7 64.5 48.6 64.5 53 64.5 57.3 67.5 60.5 72.9 60.5ZM74.6 55.1C72.5 55.1 71.4 54 71.4 52.7 71.4 51.4 72.6 50.4 74.9 50.4 76.3 50.4 77.8 50.6 79.2 51.2V51.4C79.2 53.4 77.5 55.1 74.6 55.1ZM99.1 60.5C101.3 60.5 103.2 60.1 103.9 59.9V54H103.5C102.7 54.3 102 54.4 101.2 54.4 99.1 54.4 98.1 53.4 98.1 51.2V42.2H103.8V36.2H98.1V29.9H97.7L91.4 31.2V36.2H87.2V42.2H91.1V52.9C91.1 57.2 93.5 60.5 99.1 60.5ZM110 33.7C112.7 33.7 114.2 32.2 114.2 29.6 114.2 27.1 112.7 25.5 110 25.5 107.2 25.5 105.7 27.1 105.7 29.6 105.7 32.2 107.2 33.7 110 33.7ZM106.4 60.1H113.5V36.2H106.4V60.1ZM121.5 60.1H130.5L138 36.6V36.2H130.9L126.2 53.5H126L121.2 36.2H113.9V36.6L121.5 60.1ZM148.8 60.5C155.3 60.5 159.1 56.7 159.7 52.4H152.9C152.5 53.5 151.4 54.8 148.8 54.8 145.6 54.8 144.1 52.9 144.1 50.1H160.1V47.4C160.1 40.9 155.9 35.8 148.6 35.8 140.8 35.8 136.9 41.4 136.9 48.2 136.9 55.1 141.2 60.5 148.8 60.5ZM144.1 45.6C144.3 43.3 145.6 41.5 148.6 41.5 151.4 41.5 152.7 43.3 152.9 45.6H144.1Z" class="a"/>
                        <path d="M114 24C75.1-23.1 33.7 9.6 17.2 33.4 61.9-6.2 90.5 10.1 102.4 27.2 103.9 25.7 108.5 23 114 24Z" class="a"/>
                        <path d="M122 31.3C122.5 33.9 117.7 33.9 111.7 33.9 105.8 33.9 100.5 33.9 101 31.3 101 28.9 105.8 24.8 111.7 24.8 117.7 24.8 122 28.9 122 31.3Z" class="a"/>
                    </g>
                    <defs>
                        <clipPath>
                        <rect width="162" height="63" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
                {{{body}}}
            </div>
        </div>
    </body>
</html>