<img src="assets/portal-logo.svg">
<br><br><br><br>
<p class="mono">hello friend</p>
<p class="mono">We believe you're lost</p>
<p class="mono">Email <a href="mailto:armaan@kreative.im">armaan@kreative.im</a> for help.</p>
<p class="mono">Thanks!</p>
