<div class="vertical-align" id="not_found_contents">
    <img src="assets/portal-logo-white.png">
    <h1 class="gigantic">Welcome to 404</h1>
    <p>The page you're looking for can't be found.</p>
</div>