<div id="findusername-contents">
    <h1>Find your username</h1>
    <p class="subtitle">and continue to login</p>
    <div id="findusername-section">
        <div class="alert hidden" id="email-alert">
            <i class="fas fa-exclamation-circle"></i>
            <span id="text"></span>
        </div>
        <input placeholder="Enter email" type="text" class="input_text" id="email">
    </div>
    <button type="submit" id="findusername-btn">Find username</button>
    <button class="hidden" type="submit" id="gotologin-btn">Go back to login</button>
    <hr>
    <button type="submit" class="btn_outline" id="signup-btn">Signup for an account</button>
</div>
<script src="scripts/findUsername.js"></script>