<div id="resetpassword-contents">
    <h1>Reset your password</h1>
    <p class="subtitle">And get back to {{ appName }}</p>
    <img src="assets/success.gif" class="alldone-image hidden">
    <div id="username-section">
        <div class="alert hidden" id="username-alert">
            <i class="fas fa-exclamation-circle"></i>
            <span id="text"></span>
        </div>
        <input placeholder="Username" type="text" class="input_text" id="username">
        <p class="helper-link" id="username-helper-link">Forgot your username?</p>
    </div>
    <div class="hidden" id="resetcode-section">
        <div class="alert hidden" id="resetcode-alert">
            <i class="fas fa-exclamation-circle"></i>
            <span id="text"></span>
        </div>
        <div class="message hidden" id="resetcode-message">
            <i class="fas fa-check-circle"></i>
            <span id="text"></span>
        </div>
        <input placeholder="Reset code" type="text" class="input_text" id="resetcode">
        <p class="helper-link" id="resetcode-helper-link">Resend code</p>
    </div>
    <div class="hidden" id="password-section">
        <div class="alert hidden" id="password-alert">
            <i class="fas fa-exclamation-circle"></i>
            <span id="text"></span>
        </div>
        <input placeholder="New password" type="password" class="input_text" id="password">
        <div id="password-strength-bar"><div id="bar"></div></div>
    </div>
    <button type="submit" id="continue-btn">Continue</button>
    <hr>
    <button type="submit" class="btn_outline" id="login-btn">Go back to login </button>
</div>
<script src="scripts/resetPassword.js"></script>