@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

body {
    background: #FCFCFC;
}

#body_404 {
    background: url("https://portal-assets.kaycdn.com/shibu-cropped.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-family: 'RadioGrotesk-Regular', sans-serif;
    font-size: 2em;
}

.gigantic {
    font-size: 3em;
    color: white;
}

p {
    font-family: 'BifocalsGrotesk', sans-serif;
    font-weight: normal;
    font-size: 1.1em;
}

hr {
    margin: 20px 0px;
    border: 0.5px solid #818181;
}

input {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 17px 0px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    font-family: 'BifocalsGrotesk', sans-serif;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
}

button:hover {
    background-color: #2c2c2c;
}

.subtitle {
    margin-top: -10px;
    padding-bottom: 10px;
}

.input_text {
    padding: 0.9em 1.1em;
    background: #F6F6F4;
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    font-size: 1em;
}

.input_text:focus {
    border: 1px solid #93C8FF;
    background: #E7F2FD;
}

.btn_outline {
    color: black;
    background-color: white;
    border: 1px black solid;
    font-weight: normal;
}

.btn_outline:hover {
    background-color: #f8f8f8;
}

.helper-link {
    margin-top: -10px;
    margin-bottom: 20px;
    color: #797979;
    font-size: 0.8em;
    text-align: right;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.helper-link:hover {
    color: #338EEE;
    text-decoration: underline;
}

.alert {
    font-size: 0.9em;
    padding-bottom: 5px;
    color: #EB5757;
    text-align: left;
    font-family: 'IBM Plex Mono';
    font-weight: normal;
}

.alert i {
    color: red;
}

.message {
    font-size: 0.9em;
    padding-bottom: 5px;
    color: #27AE60;
    text-align: left;
    font-family: 'IBM Plex Mono';
    font-weight: normal;
}

.message i {
    color: green;
}

.password {
    margin-bottom: 5px;
}

#password-strength-bar {
    width: 100%;
    background-color: #F6F6F4;
    margin-bottom: 20px;
    border-radius: 10px;
}

#bar {
    width: 0%;
    height: 6px;
}

#customer-support-link {
    text-align: center;
    font-size: 0.9em;
    color: #5d5d5d !important;
    text-decoration: none;
    padding-top: 15px;
    cursor: pointer;
}

#customer-support-link:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.loading {
    opacity: 0.5;
    pointer-events: none;
    filter: alpha(opacity=50);
}

.error {
    background: #F9D5D5;
    border: 1px solid #EB5757;
}

.success {
    background: #DEFAE9;
    border: 1px solid #27AE60;
}

.col {
    width: 49%;
}

.left {
    float: left;
}

.right {
    float: right;
}

.outer {
    margin-top: 3%;
    width: 100%;
    text-align: center;
}

.alldone-image {
    margin-bottom: 20px;
    width: 100%;
}

.action-box {
    width: 25%;
    display: inline-block;
    margin: 0 auto;
    padding: 50px;
    background-color: white;
    border-radius: 6px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
    -moz-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
    box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
}

.action-box-noutline {
    margin-top: 200px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.vertical-align {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 100px;
}

#not_found_contents img {
    width: 163px;
}

#not_found_contents h1 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 600;
}

#not_found_contents p {
    color: white;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
}

.mono {
    font-family: monospace;
    font-size: 14px;
}

#kreativelogo {
    margin-bottom: 15px;
    height: 45px;
}

@media (min-width: 0px) {
    .action-box {
        width: 90%;
        padding: 10px 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
}

@media (min-width: 576px) {
    .action-box {
        width: 70%;
        padding: 50px;
        -webkit-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        -moz-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
    }
}

@media (min-width: 768px) {
    .action-box {
        width: 50%;
        padding: 50px;
        -webkit-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        -moz-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
    }
}

@media (min-width: 992px) {
    .action-box {
        width: 40%;
        padding: 50px;
        -webkit-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        -moz-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
    }
}

@media (min-width: 1200px) {
    .action-box {
        width: 25%;
        padding: 50px;
        -webkit-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        -moz-box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
        box-shadow: 0px 0px 29px 3px rgba(235,235,235,1);
    }
}