@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');

body {
    background: #FCFCFC;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 1.2em;
}

hr {
    margin: 20px 0px;
    border: 0.5px solid #818181;
}

input {
    width: 100%;
    margin-bottom: 20px;
}

button {
    width: 100%;
    padding: 17px 0px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    cursor: pointer;
}

button:hover {
    background-color: #2c2c2c;
}

.subtitle {
    margin-top: -10px;
    padding-bottom: 10px;
}

.input_text {
    padding: 0.9em 1.1em;
    background: rgba(196, 196, 196, 0.2);
    border: 1px solid #CFCFCF;
    border-radius: 3px;
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: normal;
    font-size: 1em;
}

.input_text:focus {
    border-color: #93C8FF;
    background-color: #E7F2FD;
}

.btn_outline {
    color: black;
    background-color: white;
    border: 1px black solid;
    font-weight: normal;
}

.btn_outline:hover {
    background-color: #f8f8f8;
}

.helper_link {
    margin-top: -10px;
    padding-bottom: 10px;
    color: #797979;
    font-size: 0.9em;
    text-align: right;
    font-family: 'IBM Plex Mono', monospace;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.helper_link:hover {
    color: #338EEE;
    text-decoration: underline;
}

.hidden {
    display: none;
}

.loading {
    opacity: 0.5;
    pointer-events: none;
    filter: alpha(opacity=50);
}

.error {
    outline: #EB5757;
    color: #EB5757;
}

.outer {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.action-box {
    width: 23%;
    display: inline-block;
    margin: 0 auto;
    padding: 70px 50px;
    background-color: white;
    border: 2px solid #E4E4E4;
    border-radius: 6px;
    text-align: center;
}

#kreativelogo {
    fill: black;
    margin-bottom: 15px;
    height: 45px;
}